<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <h1>Welcome to {{ title }}</h1>
</header>

<section>
  <nav>
    <h3>   </h3>
    <img src="src\app\a.jpg" style="width:100%;">
  </nav>
  
  <article>
    <h1>Login</h1>
    
    <div class="btn-group" >

        <form action="/action_page.php">
        <h6>Username</h6>
        <input  [(ngModel)]="use00" type="text" name="fname" value= {{use00}}><br>
        <h6>Password</h6>
        <input [(ngModel)]="pass00" type="text" name="lname"><br>
      </form>
      <h6>                      </h6>
      <button type="button" class="btn btn-warning">Login</button>
     
    </div>
  </article>
 
</section>



</body>
</html>

