<mat-card>
    <!DOCTYPE html>
<html lang="en">
<head>
  <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<header>
    <mat-card class = "dthead"> <h1>CarDetectionCounting</h1> </mat-card>   
</header>

<section>
  
  <article>
           
    <div class="btn-group" >

            <h1>Door2</h1>
            <form class="example-form" (ngSubmit)="addWiki(wikiForm)" #wikiForm="ngForm">
                <mat-form-field>
                    <label for="count" name="count" ngModel></label>
                    <textarea matInput placeholder="Name Camera" for="name" type="text" name="name"  [(ngModel)]="name"></textarea><br>
                </mat-form-field>
                             

                <mat-card-actions >
                    <button mat-raised-button color="warn"  type="submit" (click)="add1()"  
                    [(ngModel)]="name">Add</button>
                    <button mat-raised-button color="warn" routerLink="/home" >brack</button>
                </mat-card-actions>
              </form>
      
     
    </div>
  </article>
 
</section>



</body>
</html>

</mat-card>

