<mat-card>

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <title>CSS Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    
    <header>
         <h1>Welcome to CarDetectionCounting</h1>
    </header>
    
    <section>
      <nav>
        <h3>   </h3>
        <!-- <img src="src\app\a.jpg" style="width:100%;"> -->
      </nav>
      
      <article>
        <mat-card class = "dthead">
        <h2>Login</h2><br>
        
        <div class="btn-group" >
            <form class="example-form">
                <mat-form-field class="example-full-width" color="warn">
                  <textarea matInput placeholder="Username" ></textarea>
                </mat-form-field>
              
                <mat-form-field class="example-full-width" color="warn">
                  <textarea matInput placeholder="Password"></textarea>
                </mat-form-field>
                <div class="button-row">
                <button mat-flat-button color="warn" (click)="login()" >Login</button>
                
                </div>
              </form>
          <h6>                      </h6>
                   
        </div>
      </mat-card>
      </article>
      <nav>
          <h3>   </h3>
          <!-- <img src="src\app\a.jpg" style="width:100%;"> -->
        </nav>
    </section>
    </body>
    </html>
    
</mat-card>

